<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Ollama API</title>
    <style>
        
    </style>
</head>
<body>
    <div class="terminal">
        <div class="prompt blink">$ Your Ollama API is running</div>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>
